* {
  margin: 0;
  padding: 0;
}
.header {
  background-color: black;
  
}
.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow: dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
}
.logo {
  width: 70px;
  grid-column: -3; /* create an implicit one at the beginning */
}
.menus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1;
  font-size: 20px;
  align-items: center;
  color: silver;
  column-gap: 20px;
}
.none{
  text-decoration: none;
  color: white;
}
.logoimg{
 height: 4em;
 width: 4em;
}
.inputSelect {
  width: 20px;
  background-color: black;
  color: white;
  border: none;
}
.btn{
  background-color: black;
  
}
.sair{
  width: 50px;
}