@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Syne&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");

.fundo {
    background: url(../../assents/img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.cadastro {
    font-family: 'Italiana', serif;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 10px;
}
.formulario {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    color: white;
}
input {
    border-radius: 8px;
    width: 310px;
    height: 30px;
    font-size: 15px;
}
button {
    border-radius: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Syne', sans-serif;
    margin: 15px;
    border: 1px solid #5ea8cd;
    color: #000;
}
.alinhamentoButton {
    align-items: center;
    justify-content: center;
    text-align: center;
}
button:hover{
color: white;
background-color: #5ea8cd;
}
