* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
.main{
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: #000;
}
.pz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  animation: loading 15s linear infinite;
  z-index: 999;
}
.esquerdo {
  animation: e 10s linear 3s infinite;
}
.direito {
  animation: d 10s linear 3s infinite;
}
.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 1em;
}
.bola {
  width: 2em;
  height: 2em;
  background-color: #ffffff;
  border-radius: 50%;
  align-self: end;
  animation: bola 2s ease 0s infinite;
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes e {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-90px);
  }
}
@keyframes d {
  0%,
  50%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(90px);
  }
}
@keyframes bola {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}