body {
  display: flexbox;
  background-color: rgb(8, 8, 8);
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 1em;
  margin-top: 1em;
}
.lista {
  background-image: url(../../assents/img/background.png);
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border: 10px groove #5ea8cd;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.btn {
  margin-top: 160px;
  margin-left: 95px;
}
