.header{
  background-color: black;
}
.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr; /* only column intially */
  grid-auto-flow:dense;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
}
.logo {
  
  width: 60px;
  grid-column:-3; /* create an implicit one at the beginning */
}
.menus {
  display: flex;
  flex-direction: row;
  justify-content: start;
  grid-column: 1; 
  font-size: 20px;
  align-items: center;
  color: silver;
  column-gap: 20px;
}

.logoimg{
 height: 4em;
 width: 4em;
}
